<h1>Hello in Exam App</h1>

<% if current_user.teacher? == false %>
  <p>This area is only for teacher, please <%= link_to "Login as Teacher", destroy_user_session_path,method: :delete %>
<% else %>
  <p> Hello <b> <%= current_user.name %></b></p>
<% end %>

</p>
